# Better Auth configuration
BETTER_AUTH_SECRET='a_very_secret_key_that_should_be_changed'
BETTER_AUTH_URL='http://localhost:3001' # Client Url

# Database configuration
DATABASE_URL='postgresql://user:password@localhost:5432/better_auth_db?schema=public'

# Redis configuration
REDIS_URL='redis://default:your_redis_password@localhost:6379'

# Google OAuth configuration
GOOGLE_CLIENT_ID='your_google_client_id'
GOOGLE_CLIENT_SECRET='your_google_client_secret'

# Debugging and logging
# Set the log level to 'production' for normal operation, or 'debug' for more verbose logging during development
# LOG_LEVEL can be set to 'production' or 'debug'.
LOG_LEVEL='production'